/* Reset */

* {
    box-sizing: border-box;
}

:root {
    --main-color: #212427;
    --accent-color: #6B7280;
    --accent-color-2: #363636;
    --header-color: #f0f0f0;
    --main-bg-color: #f0f0f0;
    --search-bg-color: #F9FAFB;
    --search-border-color: #D1D5DB;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: var(--main-color);
    background-color: var(--main-bg-color);
}

img {
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
}

/* Utility */
.flex {
    display: flex;
}

/*  */
nav {
    height: 20vh;
    justify-content: space-around;
    align-items: center;
    background-image: url('../img/denise-jans-tV80374iytg-unsplash.jpg'), linear-gradient(100deg, #504e4e, #494848);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode:darken; 
}

h1 {
    font-size: 2rem;
    color: var(--header-color);
}

.nav-btn {
    height: 40px;
    padding: .75rem 1.5rem;
    border: 1px var(--search-border-color) solid;
    border-radius: .5rem;
    background-color: var(--main-bg-color);
    color: var(--header-color);
    cursor: pointer;
    /* opacity: .75; */
}

a {
    text-decoration: none;
    color: var(--header-color);
    /* border-bottom: 2px solid var(--header-color); */
}

.search-bar {
    justify-content: center;
    position: relative;
}

.search-bar-container {
    position:absolute;
    top: -20px;
}

.magnifying-glass {
    position: inherit;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
}

#search-bar {
    height: 40px;
    width: 300px;
    padding: .75rem .75rem .75rem 2.25rem;
    border: 1px var(--search-border-color) solid;
    border-radius: .5rem 0 0 .5rem;
    background-color: var(--search-bg-color);
    color: var(--accent-color);
}

#search-btn {
    height: 40px;
    padding: .75rem 1.5rem;
    border: 1px var(--search-border-color) solid;
    border-radius: 0 .5rem .5rem 0;
    background-color: var(--search-bg-color);
    color: var(--accent-color);
    cursor: pointer;
}

main {
    flex-direction: column;
}

.film-icon {
    width: 100px;
}

.initial-state {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.initial-height {
    height: 75vh;
}

.initial-state p {
    color: var(--accent-color);
    text-align: center;
}

#add-movies {
    color: var(--accent-color-2);
}

.populated-state {
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
}

.movie-card {
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 1000px;
    padding: 1.25rem 0;
    border-bottom: 2px var(--search-border-color) solid;
}

.movie-poster {
    width: 40%;
    max-width: 250px;
    padding-right: 1rem;
}

.movie-details {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.movie-details p {
    display: inline-block;
    padding: .25rem .5rem;
    max-width: 45ch;
}

.star-emoji {
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
}

.title {
    font-size: 24px;
}

.plot {
    color: var(--accent-color);
}

.plus-symbol,
.minus-symbol {
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: .25rem;
    cursor: pointer;
}

.check-symbol {
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: .25rem;
}

/* Loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid var(--search-border-color);
    border-radius: 50%;
    border-top: 16px solid var(--accent-color-2);
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

   /* Dark mode */
   @media (prefers-color-scheme: dark) {
    :root {
        --main-color: #f0f0f0;
        --accent-color: #9d9d9d;
        --accent-color-2: #363636;
        --header-color: #f0f0f0;
        --main-bg-color: #0f0f0f;
        --search-bg-color: #363636;
        --search-border-color: #494949;
      }
    
    .film-icon,
    .minus-symbol,
    .plus-symbol,
    .check-symbol,
    .magnifying-glass {
    filter: invert(.9);
    }
  }